.btn {
  cursor: pointer;
  border: none;
  outline: none;
  &--primary {
    background: $color-white;
    border: 1px solid rgba(59, 59, 59, 0.49);
    min-width: 18.4rem;
    height: 5.1rem;
    &:hover {
      background: darken($color-white, 4%);
    }
  }

  &--secondary {
    min-width: 13.3rem;
    height: 4rem;
    background: $color-yellow-dark;
    border-radius: 5px;
    color: $color-white;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
  }

  &--tertiary {
    width: 11rem;
    height: 4rem;

    background: #6b6565;
    border: 0.5px solid $color-yellow-dark;
    color: $color-white;
    border-radius: 5px;
  }

  &--dark {
    background: #3b3b3b !important;
    color: $color-white !important;
  }
}
