// Font sizes
$default-font-size: 1.6rem;

// Grid
// Grid
$grid-width: 117rem;
$gutter-vertical: 3rem;
$gutter-horizontal: 3rem;

// Colors
$color-white: #fff;
$color-black: #000;
$color-grey-dark: #777;
$color-grey-light: #e5e5e5;
$color-grey-light-2: #ccc;
$color-yellow-dark: #FFBB00;
